{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock title %}


{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"> 
<link rel="stylesheet" href="{% static 'css/product_listview.css' %}">
<link rel="stylesheet" href="{% static 'css/filters.css' %}">
{% endblock css %}

{% block content %}
<div style="height: 60px; width: 100vw;"></div>
<div class="product-header"><h1>Products</h1></div>
<div class="form-filter">
    <form action="{% url 'Product:submit' %}" method="post">
        {% csrf_token %}
        <div class='selects'>
            <div class="box-form">
                <p for="Vland">Vehicle Land:</p>
                <select name="Vland" id="Vland" data-vehicle-land-url="{% url 'Product:vland' %}" required></select>
                <p for="Vtype">Vehicle Type:</p>
                <select name="Vtype" id="Vtype" data-vehicle-type-url="{% url 'Product:vtype' %}" required>
                    <option value="">---------</option>
                </select>
            </div>
            <div class="box-form">
                <p for="Category">Category:</p>
                <select name="Category" id="Category" data-category-url="{% url 'Product:category' %}" required>
                    <option value="">---------</option>
                </select>
                <p for="Subcategory">Sub Category:</p>
                <select name="Subcategory" id="Subcategory" data-subcategory-url="{% url 'Product:subcategory' %}" required>
                    <option value="">---------</option>
                </select>
            </div>
        </div>
        <div class="btn-filter">
            <button class="btn-submit-form" type="submit">Submit</button>
        </div>
    </form>
</div>
<div id="scroll_to" class="section-featured">
{% include "products.html" with product=product %}
</div>
{% if is_paginated %}
{% include "pagination.html" with page=page_obj %}
{% endif %}
{% endblock content%}

{% block script %}
<script src="{% static 'js/category.ajax.js' %}"></script>
<script src="{% static 'js/scroll.js' %}"></script>
{% endblock script %}