.about_page_about {
    width: 100vw;
    position: relative;
    padding: 30px 0;
    background: rgba(45, 37, 112, .9);
    overflow: hidden;
    min-height: 600px;
    display: grid;
    place-items: center;
}

.about_page_about h1 {
    text-align: center;
    font-size: 4em;
    color: rgb(105, 189, 40);
    font-family: 'rock-salt' !important;
}

.about_page_about h2 {
    color: rgb(105, 189, 40);
}

.about_page_about img {
    width: 100vw;
    position: absolute;
    top: -200px;
    left: 0;
    z-index: -3;
}

.about_page_goals {
    width: 100vw;
    position: relative;
    padding: 30px 0;
    background: rgba(105, 189, 40, .5);
    overflow: hidden;
    min-height: 600px;
    display: grid;
    place-items: center;
}

.about_page_goals img {
    width: 100vw;
    position: absolute;
    top: -200px;
    left: 0;
    z-index: -3;
    filter: brightness(0.5);
}

.about_page_goals h1 {
    text-align: center;
    font-size: 4em;
    color: rgb(45, 37, 112);
    font-family: 'rock-salt' !important;
}

.about_page_goals h2 {
    color: rgb(45, 37, 112);
}