.section-featured {
    background: #f9f9f9;
    width: 100vw;
    color: #69BD28;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-featured svg {
    position: absolute;
    top: -100px;
    left: 0;
    fill: #f9f9f9;
}

.section-featured h1 {
    text-align: center;
    padding: 30px 0;
    font-size: 3rem;
    color: #002244;
    text-shadow: 2px 2px 2px #002244;
    position: relative;
    z-index: 1;
}

.page-wrapper {
    height: 100%;
    display: table;
}

.page-wrapper .page-inner {
    display: table-cell;
    vertical-align: middle;
}

.page-wrapper .page-inner .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

@media screen and (max-width:600px) {
    .page-wrapper .page-inner .row {
        padding: 0;
    }
}

.el-wrapper {
    width: 360px;
    padding: 12px;
    margin: 15px;
    background-color: #fff;
}

@media (max-width: 991px) {
    .el-wrapper {
        width: 345px;
    }
}

@media (max-width: 767px) {
    .el-wrapper {
        width: 290px;
        margin: 30px auto;
    }
}

.el-wrapper:hover .h-bg {
    left: 0px;
}

.el-wrapper:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #69BD28;
}

.el-wrapper:hover .add-to-cart {
    left: 50%;
}

.el-wrapper:hover .img {
    filter: blur(7px);
    filter: progid: DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
}

.el-wrapper:hover .info-inner {
    bottom: 155px;
}

.el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
}

.el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.el-wrapper .img {
    padding: 20px 0;
    width: 360px;
    height: 390px;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
}

.h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: #69BD28;
    position: absolute;
    left: -659px;
}

.h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: #002244;
}

.info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
    display: block;
}

.info-inner .p-name {
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    color: #3775ff;
    text-shadow: 1px 1px 1px #000000;
    font-style: normal; 
}

.info-inner .p-company {
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #002244;
}

.a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #002244;
    opacity: 0;
}

.a-size .size {
    color: #002244;
}

.cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #000;
}

.cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
}